<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <nav>
            <div class="site-title">
                <a href="/">Blog Ninjas</a>
                <p>Net Ninja Site</p>
            </div>
            <ul>
                <li><a href="/">Blogs</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/blogs/create">New Blog</a></li>
            </ul>
        </nav>

        <div class="about content">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium expedita explicabo fugit harum vel eveniet laboriosam labore mollitia tempore dolore.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium expedita explicabo fugit harum vel eveniet laboriosam labore mollitia tempore dolore.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium expedita explicabo fugit harum vel eveniet laboriosam labore mollitia tempore dolore.</p>

        </div>
        <%- include('./partials/footer.ejs') %>
    </body>

</html>